* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --body-font: "Montserrat", sans-serif;
  --sec-font: "Source Code Pro", monospace;

  --main-color: #344152;
  --accent-color: #5190cd;
  --white: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 1rem;
  color: var(--main-color);
  line-height: 1.5;
  margin-top: 3rem;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

footer {
  padding-top: 2rem;
  background-color: var(--main-color);
}

.base-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.sec-title {
  position: relative;
  margin: 2rem 0;
  color: var(--accent-color);
  font-size: 1.25rem;
  text-align: center;
}

.sec-title::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.18rem;
  background-color: var(--accent-color);
  left: 0;
  right: 0;
  top: 2rem;
  margin: auto;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--accent-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

.nav-logo {
  color: var(--white);
  font-size: 1.3rem;
}

.nav-menu {
  position: fixed;
  top: 3rem;
  right: -100%;
  width: 80%;
  height: 100%;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.5s;
  backdrop-filter: blur(0.7rem);
}

.nav-item {
  margin-bottom: 2rem;
}

.nav-link {
  position: relative;
  color: var(--main-color);
}

.nav-link:hover {
  color: var(--accent-color);
}

.nav-toggle {
  color: var(--white);
  font-size: 1.75rem;
  cursor: pointer;
}

.show {
  right: 0;
}

.on::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  top: 1.65rem;
  left: 0;
  background-color: var(--main-color);
}

.hero {
  position: relative;
  overflow: hidden;
  background-color: var(--accent-color);
}

.hero-info {
  height: calc(100vh - 2.5rem);
  row-gap: 8rem;
}

.hero-title {
  font-size: 6.5rem;
  color: var(--white);
  align-self: flex-end;
  line-height: 0.8;
  text-shadow: 0 20px 25px rgba(0, 0, 0, 0.5);
}

.hero-title span {
  display: block;
}

.hero-more {
  align-self: flex-end;
  padding-bottom: 2rem;
}

.scroll-more {
  transform: rotate(-180deg);
  writing-mode: vertical-lr;
  color: var(--white);
  margin-right: 5rem;
}

.hero-img {
  position: absolute;
  margin-left: 1rem;
  width: 21em;
  right: 0;
  bottom: 0;
}

.work {
  padding-top: 2rem;
}

.work-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-img {
  position: relative;
  overflow: hidden;
  width: 90%;
}

.work-img:not(:last-child) {
  margin-bottom: 2.5rem;
}

.work-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  line-height: 2.1rem;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  border-radius: 0.5rem;
  transition: 0.5s;
}

.work-title {
  font-size: 1.1rem;
}

.work-desc {
  font-size: 1.1rem;
  text-align: center;
}

.work-links {
  margin-top: 0.2rem;
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
}

.work-img:hover .work-info {
  top: 0;
}

.portfolio-img {
  border-radius: 0.5rem;
}

.about {
  padding-top: 2rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}

.social-icons {
  font-size: 1.85rem;
  padding: 0.2rem;
  margin-top: 1rem;
}

.social-icon {
  padding: 2rem;
}

.social-icon:hover {
  color: var(--accent-color);
}

.contact {
  padding-top: 2rem;
}

.contact-container {
  row-gap: 2rem;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.2rem;
}

.contact-input {
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  border: 1.5px solid var(--main-color);
  border-radius: 0.4rem;
  font-family: var(--body-font);
}

.contact-button {
  display: block;
  padding: 0.7rem 1.8rem;
  margin-left: auto;
  margin-bottom: 2rem;
  font-family: var(--body-font);
  background-color: var(--main-color);
  color: var(--white);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

.contact-button:hover {
  background-color: var(--accent-color);
}

.footer-section {
  font-family: var(--main-font);
  text-align: center;
}

.footer-title {
  color: var(--white);
}

.footer-social {
  margin-top: 1rem;
}

.footer-icon {
  color: var(--white);
  font-size: 1.7rem;
  padding: 1.5rem;
  margin: 0;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  line-height: 2.5rem;
}

.footer-navitem {
  color: var(--white);
}

.footer-navitem:first-child {
  margin-top: 1rem;
}

.footer-navitem:last-child {
  margin-bottom: 1rem;
}

.footer-copy {
  font-size: 0.85rem;
  color: var(--white);
  margin: 1rem 0;
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}
